doctype html
html
  head
    title= title
  body
    p Here are some random bytes:
    p
     = crypto.randomBytes(20).toString('hex')

    p Here is what we used to show:
    p [
      = req.method
      | ]  You hit: 
      = req.path 
      | . We just wanted to let you know, in case you didn\'t believe your URL bar

    - if (req.body)
      p
        You also had this request body: 
        = util.inspect(req.body)
